html {
    background-color: orange;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#general-info-section {
    text-align: center;
}

#main-points-section {
    margin-left: 50px;
}

#round-info-section {
    display: block;
    border: solid black;
    height: 250px;
    width: 500px;
    text-align: center;
    overflow-y: scroll;
    margin-bottom: 25px;
    background-color: white;
}

.points-container {
    display: inline-block;
    margin-right: 25px;
}

.move-button {
    font-size: 14px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.move-button:disabled {
    opacity: 0.8;
}

#rock-button {
    background-color: lightgray;
    color: black;
}

#paper-button {
    background-color: white;
    color: black;
}

#scissors-button {
    background-color: darkblue;
    color: white;
}

@media (max-width: 500px) {
    #round-info-section {
        width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }
}
